<ion-header>
  <ion-toolbar>
    <ion-title>Fazer Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<div class="center">
  <div class="camera"></div>

  <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebtn" $fileButton />
 
  <ion-button shape="round" color="primary" (click)="fazUpload()" *ngIf="!imageURL" fill="outline"> Fazer Upload</ion-button> 
      
      <ion-card *ngIf="imageURL">
        <img src="https://uploadcare.com/{{ imageURL }}/" />
        <ion-card-content>
          <ion-textarea placeholder="Insira uma legenda" [(ngModel)]="descricao"></ion-textarea>
       
          <ion-button shape="round" color="primary" (click)="criarPost()">Postar</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    </ion-content>